asgiref==3.10.0
Django==5.2.7
django-stubs==5.2.7
django-stubs-ext==5.2.7
djangorestframework==3.16.1
et_xmlfile==2.0.0
JSON-log-formatter==1.1.1
openpyxl==3.1.2
PyJWT==2.10.1
python-json-logger==4.0.0
sqlparse==0.5.3
tomli==2.3.0
types-PyYAML==6.0.12.20250915
typing_extensions==4.15.0
